StaticAnalysisGUI/Connected Services/ServiceReference1/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="StaticAnalyserToolControllerAbsolute">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="repositoryName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="acceptanceLevel" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StaticAnalyserToolControllerAbsoluteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="StaticAnalyserToolControllerAbsoluteResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StaticAnalyserToolControllerRelative">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="repositoryName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StaticAnalyserToolControllerRelativeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="StaticAnalyserToolControllerRelativeResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>